@charset "utf-8";
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family= Cormorant +Garamond:wght@700 & display=swap');

/*NAV TELA HOME */
#menu_home{
    
    height: 80px;
    width: 100%;
    background-color: rgb(7, 74, 173);
}


#menu_home > ul{
    float: right;
    margin-right: 40px;
}


#menu_home ul > li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 70px;

}
.box {
    float: left;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    margin-right: 10px;
  }

.a_home{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
}


.logo_home{
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 70px;
}


#cadastro_home, a:hover{
    border: 1px solid white;
    transition: .4s;

}

/* CSS DAS PAGINAS MENU,TURMAS,NEWS E CRIADORES*/
/*PODCAST*/
 *{
    margin: 0;
    font-family: Helvetica;
    box-sizing: border-box;
    color: #f0f3f599
}

#podpah {
background: url(../imagem/parede.jpg) no-repeat top center;
background-size: cover;
background-attachment: fixed;

}

a {
    color: #cdcdcd;
}

.pod{
    display: flex;
    justify-content: center;
}

/* daqui em diante é para o menu */
.menu .menu-faketrigger {
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;  
    opacity: 0; 
    cursor: pointer;
}

.menu .menu-faketrigger:checked~ul {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.menu .menu-lines {
    position: absolute;
    z-index: 999;
    width: 35px;
    height: 35px;
    padding: 6px;
}

.menu .menu-lines span {
    display: block;
    width: 35px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #cdcdcd;
    border-radius: 3px;
    transition: all ease ,2s;
}

.menu .menu-faketrigger:checked~.menu-lines span {
    background-color: aqua;
}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(1) {

    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.25);

}

.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(2) {
    
    opacity: 0;

}
.menu .menu-faketrigger:checked ~ .menu-lines span:nth-child(3) {
 
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.25);

}

.menu ul {
    position: absolute;
    z-index: 998;
    left: 0;
    top: 0;
    width: 300;
    height:calc(100vh - 100px);
    padding-top: 100px;
    background-color: #000000;
    margin-left: -300px;
    transition: all ease .2s;
}

.menu .menu-faketrigger:checked ~ ul{
    margin-left: 0;
}

.menu ul li {
   padding: 10px 30px; 
}

.menu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
}
    
/* até aqui faz parte do CSS do menu, pelo amor
de Deus não altere nada, se não vai ser um cu pra conferir */

/* AQUI  COMEÇA O css da box line se alterar vai conhecer jesus*/
.container {
    text-align:justify;
    
  }
  
  .kyn_box {
    display:inline-block;
    width: 355px;
    height: 355px;
    background-color:#0e758f;
    margin-bottom: 15px;
    margin-right: 15px;
    border-radius: 25px;
    border-style: groove;
    text-decoration: underline;
    color: #0a6beb;

  }
  .kyn_logo_criadoes{
    height: 150px;
    width: 100pxpx;
    text-align:center;
    cursor: pointer;
    background-color: #000000;
    display: block;
   
  }
  .criadores_fundo{
    background: rgb(0,38,246);
    background: -moz-linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    background: linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0026f6",endColorstr="#0925f0",GradientType=1);

  }
  
.modo-escuro body {
    background-color: black;
    background: rgb(0,38,246);
    background: -moz-linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    background: linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0026f6",endColorstr="#0925f0",GradientType=1);
  }
  .cabecalho_criadores {
    position: fixed;
  }
    
  .footer_criadores {
    background-color: #0a0a0a;
    color: #000000;
    padding: 20px;
    text-align: center;
  }
  /* definindo a altura mínima da página */
  body {
    position: relative;
    min-height: 100vh; 
  }
  /* definindo a altura mínima da página */

/* definindo a altura do footer */
  .container {
    padding-bottom: 50px; 
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1%; 
    background: rgb(0,38,246);
    background: -moz-linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    background: linear-gradient(90deg, rgba(0,38,246,1) 11%, rgba(22,229,209,1) 51%, rgba(9,37,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0026f6",endColorstr="#0925f0",GradientType=1);
    padding: 20px;
    text-align: center;
  }
  /* definindo a altura do footer */
    /*AQUI TERMINA O css da box line da pagina criadores, se mexer vai conversar com jesus */


/*AQUI COMEÇA A PAGINA DE CADASTRO*/
#victor{
    background-color: rgb(7, 74, 173);
    height: 100vh;
    width: 100vw;
}


.victor_main{
    position: relative;
    height: 100vh;
    width: 100vw;

}


section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    height: 570px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    transition: width .2s, height .2s;
    transition-timing-function: ease;

}


 #victor_cadastro{
    background: rgb(41, 139, 230) url(../imagem/logo_ficr.jpeg) no-repeat;
    background-size: cover;
    height: 250px;
    width: 220px;
    display: block;
    margin-left: 60px;
}


#victor_formulario{
    display: block;
    padding: 10px;

}


#victor_formulario > h1{
    text-align: center;
    padding-bottom: 10px;
    color: black;
}


#victor_formulario > p{
    font-size: 0.8em;
    color: black;

}


form > .victor_entrar {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:cornflowerblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}


form > .victor_entrar:hover{
    background-color: rgb(98, 153, 255);
}


form > .victor_cadastrese {
    margin-top: 8px;
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:cornflowerblue;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

form > .victor_cadastrese:hover{
    background-color: rgb(122, 169, 255);
}


form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    text-decoration: none;
    background-color: rgba(240, 248, 255, 0.308);
    border: 2px solid lightblue;
    border-radius: 8px;
    margin-top: 10px;
    color: rgb(30, 98, 245);
    
}


form > a.botao:hover{
    background-color:rgba(100, 148, 237, 0.404);
}


form > .victor_campocad{
    background-color: rgb(81, 121, 194);
    display:block;
    width: 100%;
    height: 37px;
    border-radius: 8px;
    margin: 6px 0px;
    border: 2px solid lightblue;
    
    
}


.victor_campocad >span{
    color: white;
    font-size: 2em;
    width: 42px;
    padding: 5px;

}


.victor_campocad > input{
    background-color: rgb(182, 208, 247);
    font-size: 1em;
    width: calc(100% - 21%);
    height: 100%;
    transform: translateY(-15px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;


}
/* aqui termina a pagina cadastro*/

/* inicio css leo_noticias */

.leo_fundo{
    background: url(https://images.pexels.com/photos/3866816/pexels-photo-3866816.jpeg?auto=compress&cs=tinysrgb&w=1600) no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}

.leo_news_logo{
    background-color: #2a2a42;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.leo_news_logo img{
height: 150px;
width: 210px;
text-align: center;
cursor: pointer;
}

.leo_titulo h1{
    color: #000000;
    text-align: center;
}

.container{
    display: flex;
    color: #000000;
    align-items: center;
    
}


  /* final css leo_noticias */
